.card {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 0.5%;
  }

  h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .buttonnshit{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .inputtextnshit{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }